
      body {
        margin: 0;
      }

      #mapContainer {
        width: 100%;
        /* Adjusted for tab width */
        height: 100vh;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1;
      }

      .inputField {
        width: 300px;
        font-size: 13px;
        padding: 3px;
        border: 1px solid #ddd;
        outline: none !important;
        border-radius: 10px;
        margin-top: 5px;
      }

      .submitButton,
      .dbButton {
        font-size: 13px;
        padding: 4px;
        border: 1px solid #ddd;
        outline: none !important;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 5px;
      }

      #citySelect {
        display: none;
      }

      #sectorInput,
      #developerInput,
      #projectInput {
        display: block;
      }

      .infoText {
        font-size: 16px;
        padding: 8px;
      }

      .errorMessage {
        color: red;
        font-size: 14px;
        display: none;
        margin-top: 5px;
      }

      #dbButton {
        display: none;
        position: absolute;
        bottom: 0;
        right: 20px;
        z-index: 2;
        margin-bottom: -180px;
        margin-right: 10px;
      }

      .label {
        font-size: 14px;
        margin-top: 10px;
        display: block;
      }

      .required {
        color: red;
        margin-left: 5px;
      }

      /* New style for input container */
      #inputContainer {
        position: absolute;
        top: 5px;
        left: 10px;
        z-index: 1;
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        max-height: 670px;
        /* Limit height */
        overflow-y: auto;
        /* Add scrolling */
        width: 400px;
        /* Fixed width */
      }
      /* Model css */
      #viewModel {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        color: white;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
      }

      #viewModelDeveloper {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        color: white;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
      }

      /* Style for the form */
      .form-container {
        background-color:#f3f3f3;
        padding: 20px;
        border-radius: 8px;
        width: 80%;
        max-width: 600px;
        margin: 20px auto;
        margin-top: 620px;
      }
      .form-container-developer {
        background-color: #f3f3f3;
        padding: 20px;
        border-radius: 8px;
        width: 80%;
        max-width: 600px;
        margin: 80px auto;
      
      }

      /* Basic styling for form fields */
      label,
      input,
      select {
        display: block;
        width: 100%;
        margin-bottom: 10px;
      }

      input,
      select {
        padding: 8px;
        font-size: 1em;
        color: black;
        border: none;
        border-radius: 5px;
      }

      .button {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1em;
      }

      .close-button {
        background-color: #dc3545;
        float: right;
        font-size: 0.8em;
      }
      /* loader  */
      #fullScreenOverlay {
        user-select: none;
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5); /* White with 0.5 opacity */
        z-index: 9999; /* Ensure it appears on top */
      }

      /* Optional loader image styling */
      #loaderImage {
        width: 100px; /* Adjust size as needed */
        height: 100px;
      }
    